html, body {
  min-height: 100vh;
}

.Layout--withMap {
  height: 100vh;
  overflow: hidden;
}

.TopBar__brand {
  color: #ffffff !important;
}

.TopBar__navbar {
  background-color: #3f51b5;
  box-shadow: 0 3px 6px -3px black;
  border: none;
}

.TopBar__navbar--withoutMargin {
  margin-bottom: 0;
}

.TopBar__nav-item > a {
  color: #ffffff !important;
}

.TopBar__nav-item--active > a {
  color: #ffffff !important;
  background-color: #4d61d0 !important; 
}

.SummitOverlayContent {
  background: #ffffff;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  box-shadow: 0 3px 6px -6px rgba(0,0,0,0.6)
}

.SummitsPage__tableContainer {
  margin-top: 1rem;
}

.SummitPage__carouselContainer {
  margin-bottom: 1rem;
}
